@{
    ViewData["Title"] = "CargoSync";
}

<section class="dashboard">
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <span class="text">Dashboard</span>
            </div>
            <div class="boxes">
                <div class="box box1">
                    <span class="text">New Packages</span>
                </div>
                <div class="box box2">
                    <span class="text">In Transit</span>
                </div>
                <div class="box box3">
                    <span class="text">Delivered</span>
                </div>
            </div>
        </div>
        <div class="activity">
            <div class="title">
                <span class="text">Revenue</span>
            </div>
            <div class="activity-data">
            </div>
        </div>
        <div class="activity">
            <div class="title">
                <span class="text">Recent Activity</span>
            </div>
            <div class="activity-data">
                <div class="data names">
                    <span class="data-title">Destination</span>
                </div>
                <div class="data joined">
                    <span class="data-title">DeliveryID</span>

                </div>
                <div class="data type">
                    <span class="data-title">ETA</span>

                </div>
                <div class="data status">
                    <span class="data-title">Status</span>
                </div>
            </div>
        </div>
    </div>
</section>
