<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="/assets/logo.svg">
    <link rel="stylesheet" href="~/CargoSync.Presentation.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/assets/logo.svg" alt="CargoSync">
                </span>

                <div class="text logo-text">
                    <span class="name">CargoSync</span>
                    <span class="description">Deliveries Tracking</span>
                </div>
            </div>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="~/">
                            <i class='bx bxs-dashboard icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-controller="CargoGraphs" asp-action="Index">
                            <i class='bx bxs-package icon'></i>
                            <span class="text nav-text">Cargo Graphs</span>
                        </a>
                    </li>



                    <li class="nav-link">
                        <a href="@Url.Action("Index", "DeliveryManagement")">
                            <i class='bx bxs-truck icon'></i>
                            <span class="text nav-text">Manage Deliveries</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="@Url.Action("Index", "FAQ")">
                            <i class='bx bx-help-circle icon'></i>
                            <span class="text nav-text">FAQ</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
